.login-page {
  background-image: url("/public/Background.png");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .login-page {
    background-image: url("/public/BackgroundMobile.png");
  }
}

.scroll {
}

.sidebar {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #088c03;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #88ba1c;
  }
}
